header {
    background-color: #00CED1;
    padding: 10px 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 70px;
}
header .h1header {
    width: 65px;
    height: 65px;
}