.sectionlogin {
  height: 800px;
  width:600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
  border-radius: 5px solid black;
  box-sizing: border-box;
}
h1 {
  color: #4B4545;
}
h2 {
  color: #D0CFCF;
}

