.firstball {
  position: absolute;
  height: 360px;
  width: 360px;
  background: radial-gradient(50% 50% at 40% 50%, #DDA0DD 0%, rgba(255, 255, 255, 0) 100%);
}
.spanforpage {
  display: none;
}
.firstball.-variacao1 {
  background: radial-gradient(50% 50% at 50% 50%, #DDA0DD 0%, rgba(255, 255, 255, 0) 100%);
}
.firstball.-variacao2 {
  background: radial-gradient(50% 50% at 70% 50%, #DDA0DD 0%, rgba(255, 255, 255, 0) 100%);
}  
