.firstball {
  position: absolute;
  height: 360px;
  width: 360px;
  top: 5px;
  left: -70px;
  background: radial-gradient(50% 50% at 40% 50%, #DDA0DD 0%, rgba(255, 255, 255, 0) 100%);
}
.spanforpage {
  display: none;
}

}
.firstball.-variacao2 {
  left: 1068px;
  top: 342px;
  background: radial-gradient(50% 50% at 50% 50%, #DDA0DD 0%, rgba(255, 255, 255, 0) 100%);
}  
