<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&family=Lexend&family=Press+Start+2P&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="main-title.css">
    <link rel="stylesheet" href="main-button.css">
    <link rel="stylesheet" href="sectionbanner.css">
    <link rel="stylesheet" href="searchbox.css">
    <link rel="stylesheet" href="areastudents.css">
    <link rel="stylesheet" href="sectioncourses.css">
    <link rel="stylesheet" href="sectioncarousel.css">
    <link rel="stylesheet" href="wrapper-visualization.css">
    <link rel="stylesheet" href="wrapper-avaliacao.css">
    <title>Início</title>
</head>
<body>
   <nav class="main-nav">
        <figure class="logo-nav">
            <img src="/imgs/Group 70.png">
        </figure>
        <h2 class="title-nav">LERNING</h2>
        <div class="box-buttons">
            <button class="main-button">Home</button>
            <button class="main-button">About</button>
            <button class="main-button">Courses</button>
            <button class="main-button">Contact</button>
            <button class="main-button">Blog</button>
        </div>
        <button class="main-button -login">
            <span class="spanlogin">
                Log In
            </span>
        </button>
        <button class="main-button -register">Register</button>
    </nav>
    
    <section class="sectionbanner">
       <div class="imgbanner">
            <span class="spanbanner">Imagem</span>
       </div>

       <div class="imgbanner -variacao1">
            <span class="spanbanner">Imagem</span>
        </div>

        <div class="imgbanner -variacao2">
            <span class="spanbanner">Imagem</span>
        </div>

        <div class="searchbox">
            <h2 class="title-nav -variacaobanner">Get Skills From Our Top Courses</h2>
            <p class="title-nav -variacaobanner2">Online learning program designed to prepare you for a  career. Courses include recorded video lectures, auto graded</p>
            <div class="paiboxsearch">
                <figure class="imgboxsearch">
                    <img src="/imgs/Vector.png">
                </figure>
                <input type="search" placeholder="Search your favorite course" class="boxsearch">
                <button class="main-button -buttonofsearch">
                    Search
                </button>
            </div>
        </div>

        <div class="Students">
            <figure class="reversepicture">
                <img src="/imgs/image 39.png">
            </figure>
            <figure class="complementpicture">
                <img src="/imgs/Mask group.png">
            </figure>
            <div class="circlegreen">
            </div>
        </div>

        <div class="numbers">
            <div class="number-students">
                <h2 class="title-nav -variacaobanner3">1400+</h2>
                <h2 class="title-nav -variacaobanner4">Students</h2>
            </div>

            <div class="number-students">
                <h2 class="title-nav -variacaobanner3">200+</h2>
                <h2 class="title-nav -variacaobanner4">Courses</h2>
            </div>

            <div class="number-students">
                <h2 class="title-nav -variacaobanner3">150+</h2>
                <h2 class="title-nav -variacaobanner4">Instructor</h2>
            </div>
        </div>
    </section>

    <section class="sectioncourses">
        <h1 class="title-nav -variacao5">Popular Subjects</h1>
        
        <div class="wrapper-courses">
            <figure class="wrapper-imgscourses">
                <img src="/imgs/Frame 15599.png">
            </figure>
            <h4 class="title-nav -variacao6">Computer Science</h4>
        </div>
        <div class="wrapper-courses -variacaowleft">
                <figure class="wrapper-imgscourses -variacaobiollogoy">
                    <img src="/imgs/Biology.png">
                </figure>
                <h4 class="title-nav -variacao6">Biollogoy & Lifestyle</h4>
        </div>
        <div class="wrapper-courses -variacaowleft">
                <figure class="wrapper-imgscourses -variacaoBUSINESS">
                    <img src="/imgs/Business.png">
                </figure>
                <h4 class="title-nav -variacao6">Business & Management</h4>
        </div>
        <div class="wrapper-courses -variacaowleft">
                <figure class="wrapper-imgscourses -variacaostatistics">
                    <img src="/imgs/Data.png">
                </figure>
                <h4 class="title-nav -variacao6">Data Analysis & Statistics</h4>
        </div>
        <div class="wrapper-courses -variacaowleft">
                <figure class="wrapper-imgscourses -variacaofood">
                    <img src="/imgs/Food.png">
                </figure>
                <h4 class="title-nav -variacao6">Food & Nutrition</h4>
        </div>
        <div class="wrapper-courses -variacaowleft">
                <figure class="wrapper-imgscourses -variacaoscience">
                    <img src="/imgs/Enviroment.png">
                </figure>
                <h4 class="title-nav -variacao6">Environmental Science</h4>
        </div>
        <h1 class="title-nav -variacao7">Find The Right Online Course for You</h1>
        <section class="sectioncarousel">
            <button class="botao-carrossel-left">
                <span class="spancarousel">Avançar</span>
            </button>
            <div class="items-carousel">
                <div class="gallery">
                    <div class="wrapper-items">
                        <figure class="wrapper-imgs-carousel">
                            <img src="/imgs/Imagem1-Carrossel.png">
                        </figure>
                        <div class="wrapper-avaliacao">
                            <div class="wrapper-star">
                                <span class="spancarousel">abc</span>
                            </div>
                            <h5 class="title-nav -variacao8">4.7</h5>
                            <h5 class="title-nav -variacao9">(1k+)</h5>
                        </div>
                        <h5 class="textUX">UI UX Design</h5>
                        <div class="wrapper-professor-and-price">
                            <figure class="wrapper-img-professor">
                                <img src="/imgs/Img-Professor.png">
                            </figure>
                            <h5 class="nameofprofessor">Mitchal jhon</h5>
                            <button class="main-button -pricecourse">$ 49</button>
                        </div>
                        <div class="wrapper-visualization">
                            <figure class="img-eye-visualization">
                                <img src="/imgs/visualizations.png">
                            </figure>
                            <h5 class="textvisualization">29.500</h5>
                            <figure class="img-eye-visualization">
                                <img src="/imgs/classes.png">
                            </figure>
                            <h5 class="textvisualization -numeroflectures">36 Lectures</h5>
                        </div>
                    </div>
                    <div class="wrapper-items">
                        <figure class="wrapper-imgs-carousel">
                            <img src="/imgs/Imagem2-Carrossel.png">
                        </figure>
                        <div class="wrapper-avaliacao">
                            <div class="wrapper-star">
                                <span class="spancarousel">abc</span>
                            </div>
                            <h5 class="title-nav -variacao8">4.7</h5>
                            <h5 class="title-nav -variacao9">(1k+)</h5>
                        </div>
                        <h5 class="textUX">Visual Design</h5>
                        <div class="wrapper-professor-and-price">
                            <figure class="wrapper-img-professor">
                                <img src="/imgs/Img-Professor.png">
                            </figure>
                            <h5 class="nameofprofessor">Mitchal jhon</h5>
                            <button class="main-button -pricecourse">$ 58</button>
                        </div>
                        <div class="wrapper-visualization">
                            <figure class="img-eye-visualization">
                                <img src="/imgs/visualizations.png">
                            </figure>
                            <h5 class="textvisualization">29.500</h5>
                            <figure class="img-eye-visualization">
                                <img src="/imgs/classes.png">
                            </figure>
                            <h5 class="textvisualization -numeroflectures">36 Lectures</h5>
                        </div>
                    </div>
                    <div class="wrapper-items">
                        <figure class="wrapper-imgs-carousel">
                            <img src="/imgs/Imagem3-Carrpssel.png">
                        </figure>
                        <div class="wrapper-avaliacao">
                            <div class="wrapper-star">
                                <span class="spancarousel">abc</span>
                            </div>
                            <h5 class="title-nav -variacao8">4.7</h5>
                            <h5 class="title-nav -variacao9">(1k+)</h5>
                        </div>
                        <h5 class="textUX">Branding Design</h5>
                        <div class="wrapper-professor-and-price">
                            <figure class="wrapper-img-professor">
                                <img src="/imgs/Img-Professor.png">
                            </figure>
                            <h5 class="nameofprofessor">Mitchal jhon</h5>
                            <button class="main-button -pricecourse">$ 85</button>
                        </div>
                        <div class="wrapper-visualization">
                            <figure class="img-eye-visualization">
                                <img src="/imgs/visualizations.png">
                            </figure>
                            <h5 class="textvisualization">29.500</h5>
                            <figure class="img-eye-visualization">
                                <img src="/imgs/classes.png">
                            </figure>
                            <h5 class="textvisualization -numeroflectures">36 Lectures</h5>
                        </div>
                    </div>
                    <div class="wrapper-items">
                        <figure class="wrapper-imgs-carousel">
                            <img src="/imgs/Imagem4-Carrossel.png">
                        </figure>
                        <div class="wrapper-avaliacao">
                            <div class="wrapper-star">
                                <span class="spancarousel">abc</span>
                            </div>
                            <h5 class="title-nav -variacao8">4.7</h5>
                            <h5 class="title-nav -variacao9">(1k+)</h5>
                        </div>
                        <h5 class="textUX">Digital Marketing</h5>
                        <div class="wrapper-professor-and-price">
                            <figure class="wrapper-img-professor">
                                <img src="/imgs/Img-Professor.png">
                            </figure>
                            <h5 class="nameofprofessor">Mitchal jhon</h5>
                            <button class="main-button -pricecourse">$ 90</button>
                        </div>
                        <div class="wrapper-visualization">
                            <figure class="img-eye-visualization">
                                <img src="/imgs/visualizations.png">
                            </figure>
                            <h5 class="textvisualization">29.500</h5>
                            <figure class="img-eye-visualization">
                                <img src="/imgs/classes.png">
                            </figure>
                            <h5 class="textvisualization -numeroflectures">36 Lectures</h5>
                        </div>
                    </div>
                    <div class="wrapper-items">
                        <figure class="wrapper-imgs-carousel">
                            <img src="/imgs/Imagem5-Carrossel-2.0.png">
                        </figure>
                        <div class="wrapper-avaliacao">
                            <div class="wrapper-star">
                                <span class="spancarousel">abc</span>
                            </div>
                            <h5 class="title-nav -variacao8">4.7</h5>
                            <h5 class="title-nav -variacao9">(1k+)</h5>
                        </div>
                        <h5 class="textUX">Security Web</h5>
                        <div class="wrapper-professor-and-price">
                            <figure class="wrapper-img-professor">
                                <img src="/imgs/Img-Professor.png">
                            </figure>
                            <h5 class="nameofprofessor">Mitchal jhon</h5>
                            <button class="main-button -pricecourse">$ 98</button>
                        </div>
                        <div class="wrapper-visualization">
                            <figure class="img-eye-visualization">
                                <img src="/imgs/visualizations.png">
                            </figure>
                            <h5 class="textvisualization">29.500</h5>
                            <figure class="img-eye-visualization">
                                <img src="/imgs/classes.png">
                            </figure>
                            <h5 class="textvisualization -numeroflectures">36 Lectures</h5>
                        </div>
                    </div>
                    <div class="wrapper-items">
                        <figure class="wrapper-imgs-carousel">
                            <img src="/imgs/Imagem6-Carrossel-2.0.png">
                        </figure>
                        <div class="wrapper-avaliacao">
                            <div class="wrapper-star">
                                <span class="spancarousel">abc</span>
                            </div>
                            <h5 class="title-nav -variacao8">4.7</h5>
                            <h5 class="title-nav -variacao9">(1k+)</h5>
                        </div>
                        <h5 class="textUX">Power B.I</h5>
                        <div class="wrapper-professor-and-price">
                            <figure class="wrapper-img-professor">
                                <img src="/imgs/Img-Professor.png">
                            </figure>
                            <h5 class="nameofprofessor">Mitchal jhon</h5>
                            <button class="main-button -pricecourse">$ 30</button>
                        </div>
                        <div class="wrapper-visualization">
                            <figure class="img-eye-visualization">
                                <img src="/imgs/visualizations.png">
                            </figure>
                            <h5 class="textvisualization">29.500</h5>
                            <figure class="img-eye-visualization">
                                <img src="/imgs/classes.png">
                            </figure>
                            <h5 class="textvisualization -numeroflectures">36 Lectures</h5>
                        </div>
                    </div>
                    <div class="wrapper-items">
                        <figure class="wrapper-imgs-carousel">
                            <img src="/imgs/Imagem7-Carrossel-2.0.png">
                        </figure>
                        <div class="wrapper-avaliacao">
                            <div class="wrapper-star">
                                <span class="spancarousel">abc</span>
                            </div>
                            <h5 class="title-nav -variacao8">4.7</h5>
                            <h5 class="title-nav -variacao9">(1k+)</h5>
                        </div>
                        <h5 class="textUX">BackEnd</h5>
                        <div class="wrapper-professor-and-price">
                            <figure class="wrapper-img-professor">
                                <img src="/imgs/Img-Professor.png">
                            </figure>
                            <h5 class="nameofprofessor">Mitchal jhon</h5>
                            <button class="main-button -pricecourse">$ 84</button>
                        </div>
                        <div class="wrapper-visualization">
                            <figure class="img-eye-visualization">
                                <img src="/imgs/visualizations.png">
                            </figure>
                            <h5 class="textvisualization">29.500</h5>
                            <figure class="img-eye-visualization">
                                <img src="/imgs/classes.png">
                            </figure>
                            <h5 class="textvisualization -numeroflectures">36 Lectures</h5>
                        </div>
                    </div>
                    <div class="wrapper-items">
                        <figure class="wrapper-imgs-carousel">
                            <img src="/imgs/Imagem8-Carrossel-2.0.jpg">
                        </figure>
                        <div class="wrapper-avaliacao">
                            <div class="wrapper-star">
                                <span class="spancarousel">abc</span>
                            </div>
                            <h5 class="title-nav -variacao8">4.7</h5>
                            <h5 class="title-nav -variacao9">(1k+)</h5>
                        </div>
                        <h5 class="textUX">FrontEnd</h5>
                        <div class="wrapper-professor-and-price">
                            <figure class="wrapper-img-professor">
                                <img src="/imgs/Img-Professor.png">
                            </figure>
                            <h5 class="nameofprofessor">Mitchal jhon</h5>
                            <button class="main-button -pricecourse">$ 84</button>
                        </div>
                        <div class="wrapper-visualization">
                            <figure class="img-eye-visualization">
                                <img src="/imgs/visualizations.png">
                            </figure>
                            <h5 class="textvisualization">29.500</h5>
                            <figure class="img-eye-visualization">
                                <img src="/imgs/classes.png">
                            </figure>
                            <h5 class="textvisualization -numeroflectures">36 Lectures</h5>
                        </div>
                    </div>
                </div>    
            </div>
            <button class="botao-carrossel-left -right">
                <span class="spancarousel">Avançar</span>
            </button>    
        </section>
    </section>
    <script src="/JS/javascriptcarousel.js"></script>
</body>
</html>