<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&family=Lexend&family=Press+Start+2P&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="main-title.css">
    <link rel="stylesheet" href="main-button.css">
    <link rel="stylesheet" href="sectionbanner.css">
    <link rel="stylesheet" href="searchbox.css">
    <link rel="stylesheet" href="areastudents.css">
    <link rel="stylesheet" href="sectioncourses.css">
    
    <title>Início</title>
</head>
<body>
   <nav class="main-nav">
        <figure class="logo-nav">
            <img src="/imgs/Group 70.png">
        </figure>
        <h2 class="title-nav">LERNING</h2>
        <div class="box-buttons">
            <button class="main-button">Home</button>
            <button class="main-button">About</button>
            <button class="main-button">Courses</button>
            <button class="main-button">Contact</button>
            <button class="main-button">Blog</button>
        </div>
        <button class="main-button -login">Log in</button>
        <button class="main-button -register">Register</button>
    </nav>
    
    <section class="sectionbanner">
       <div class="imgbanner">
            <span class="spanbanner">Imagem</span>
       </div>

       <div class="imgbanner -variacao1">
            <span class="spanbanner">Imagem</span>
        </div>

        <div class="imgbanner -variacao2">
            <span class="spanbanner">Imagem</span>
        </div>

        <div class="searchbox">
            <h2 class="title-nav -variacaobanner">Get Skills From Our Top Courses</h2>
            <p class="title-nav -variacaobanner2">Online learning program designed to prepare you for a  career. Courses include recorded video lectures, auto graded</p>
            <div class="paiboxsearch">
                <figure class="imgboxsearch">
                    <img src="/imgs/Vector.png">
                </figure>
                <input type="search" placeholder="Search your favorite course" class="boxsearch">
                <button class="main-button -buttonofsearch">
                    Search
                </button>
            </div>
        </div>

        <div class="Students">
            <figure class="reversepicture">
                <img src="/imgs/image 39.png">
            </figure>
            <figure class="complementpicture">
                <img src="/imgs/Mask group.png">
            </figure>
            <div class="circlegreen">
            </div>
        </div>

        <div class="numbers">
            <div class="number-students">
                <h2 class="title-nav -variacaobanner3">1400+</h2>
                <h2 class="title-nav -variacaobanner4">Students</h2>
            </div>

            <div class="number-students">
                <h2 class="title-nav -variacaobanner3">200+</h2>
                <h2 class="title-nav -variacaobanner4">Courses</h2>
            </div>

            <div class="number-students">
                <h2 class="title-nav -variacaobanner3">150+</h2>
                <h2 class="title-nav -variacaobanner4">Instructor</h2>
            </div>
        </div>
    </section>

    <section class="sectioncourses">
        <h1 class="title-nav -variacao5">Popular Subjects
        </h1>
        
            <div class="wrapper-courses">
                <figure class="wrapper-imgscourses">
                    <img src="/imgs/Frame 15599.png">
                </figure>
                <h4 class="title-nav -variacao6">Computer Science</h4>
            </div>
            <div class="wrapper-courses -variacaowleft">
                <figure class="wrapper-imgscourses -variacaobiollogoy">
                    <img src="/imgs/Biology.png">
                </figure>
                <h4 class="title-nav -variacao6">Biollogoy & Lifestyle</h4>
            </div>
            <div class="wrapper-courses -variacaowleft">
                <figure class="wrapper-imgscourses -variacaoBUSINESS">
                    <img src="/imgs/Business.png">
                </figure>
                <h4 class="title-nav -variacao6">Business & Management</h4>
            </div>
            <div class="wrapper-courses -variacaowleft">
                <figure class="wrapper-imgscourses -variacaostatistics">
                    <img src="/imgs/Data.png">
                </figure>
                <h4 class="title-nav -variacao6">Data Analysis & Statistics</h4>
            </div>
            <div class="wrapper-courses -variacaowleft">
                <figure class="wrapper-imgscourses -variacaofood">
                    <img src="/imgs/Food.png">
                </figure>
                <h4 class="title-nav -variacao6">Food & Nutrition</h4>
            </div>
            <div class="wrapper-courses -variacaowleft">
                <figure class="wrapper-imgscourses -variacaoscience">
                    <img src="/imgs/Enviroment.png">
                </figure>
                <h4 class="title-nav -variacao6">Environmental Science</h4>
            </div>
          
    </section>
    <script src="/JS/javascriptsearchboxbanner.js"></script>
</body>
</html>