.title-nav {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: black;
    margin-right: 177px;
}
.title-nav.-variacaobanner {
    font-size: 56px;
    line-height: 66px;
    color: #000000;
    width: 480px;
    margin-bottom: 16px;
}
.title-nav.-variacaobanner2 {
    font-family: 'Lexend';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
    width: 100%;
    margin-bottom: 48px;
}
.title-nav.-variacaobanner3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 42px;
    color: #AF5EFF;
    margin-bottom: 8px;
}
.title-nav.-variacaobanner4 {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}