.sectioncarousel {
    display: flex;
    height: 410px;
    position: relative;
    justify-content: space-between;
    margin-left: 91px;
    margin-right: 181px;
}
.sectioncarousel .items {
    display: flex;
    width: 100%;
    overflow: hidden;
}
.sectioncarousel .wrapper-items {
    box-sizing: border-box;
    height: 374px;
    width: 274px;
    border: none;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-right: 24px;
}
.sectioncarousel .wrapper-avaliacao {
    position: absolute;
    left: 16px;
    top: 16px;
    width: 73px;
    height: 30px;
    background-color: #FFFFFF;
    display: flex;
    border: none;
    border-radius: 8px;
    align-items: center;
}
.sectioncarousel .wrapper-avaliacao.-opcao2 {
    left: 314px;
}
.sectioncarousel .wrapper-avaliacao.-opcao3 {
    left: 612px;
}
.sectioncarousel .wrapper-avaliacao.-opcao4 {
    left: 910px;
}
.sectioncarousel .wrapper-imgs-carousel {
    height: 204px;
    width: 258px;
    border: none;
    border-radius: 12px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
}

.sectioncarousel .wrapper-star {
    margin-left: 5px;
    margin-right: 4px;
    width: 15px;
    height: 15px;
    background-color: #F2994A;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.sectioncarousel .spancarousel {
    display: none;
}
.sectioncarousel .wrapper-professor-and-price {
    display: flex;
    margin-right: 8px;
    margin-left: 16px;
    margin-bottom: 14px;
    height: 44px;
    width: 250px;
}
.sectioncarousel .wrapper-img-professor {
    margin-left: 0px;
    margin-right: 6px;
    width: 24px;
    height: 24px;
}
.sectioncarousel .nameofprofessor {
    font-weight: 400;
    font-size: 14px;
    line-height: 113%;
    color: #4F4F4F;
    margin-right: 58px;
}
.sectioncarousel .textUX {
    font-size: 18px;
    line-height: 28px;
    margin-left: 16px;
    color: #000000;
    margin-bottom: 8px;
}
.sectioncarousel .botao-carrosel {
    position: absolute;
    height: 32px;
    width: 32px;
    left: 530px;
    top: 406px;
    margin-right: 16pxs;
    border: 1px solid black;
    border-radius: 20px;
    opacity: 0.4;
    cursor: pointer;
}
.sectioncarousel .botao-carrosel.-n2 {
    left: 591px;
}
.sectioncarousel .botao-carrosel::before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 4px;
    height: 4px;
    border: 4px solid transparent;
    border-left: 10px solid black;
    transform: rotate(180deg) translateX(2px);
}
.sectioncarousel .botao-carrosel.-n2::before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 4px;
    height: 4px;
    border: 4px solid transparent;
    border-right: 10px solid black;
    margin-left: 8.5px;
}
